pipeline/pl_sales_master_load.json
{
	"name": "pl_sales_master_load",
	"properties": {
		"activities": [
			{
				"name": "lkp_get_jobdetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource"
					},
					"dataset": {
						"referenceName": "AzureDatabricksDeltaLake_dateset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_get_jobdetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_get_jobdetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_sales_child_load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_sales_child_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"landing_zone_file_path": {
										"value": "@item().landing_zone_file_path",
										"type": "Expression"
									},
									"landing_zone_folder_name": {
										"value": "@item().landing_zone_folder_name",
										"type": "Expression"
									},
									"landing_zone_file_name": {
										"value": "landing_zone_file_name.landing_zone_file_name",
										"type": "Expression"
									},
									"landing_zone_file_type": {
										"value": "@item().landing_zone_file_type",
										"type": "Expression"
									},
									"staging_zone_database_name": {
										"value": "@item().staging_zone_database_name",
										"type": "Expression"
									},
									"staging_zone_table_name": {
										"value": "@item().staging_zone_table_name",
										"type": "Expression"
									},
									"staging_zone_table_pk_column": {
										"value": "@item().staging_zone_table_pk_column",
										"type": "Expression"
									},
									"pyspark_schema": {
										"value": "@item().pyspark_schema",
										"type": "Expression"
									},
									"job_name": {
										"value": "@item().job_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Sales load"
		},
		"annotations": []
	}
}